<!DOCTYPE html>
<html lang="es">

<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<title>Marvel</title>
	
	<link rel="stylesheet" href="bower_components/materialize/dist/fonts/material-icons.css">
	<link rel="stylesheet" href="bower_components/materialize/dist/css/materialize.min.css">
	<link rel="stylesheet" href="assets/css/main.css">

</head>

<body ng-app="marvel">
	<div ng-controller="homeCtrl">
			<welcome ng-if="welm" class="welcome"></welcome>
			<quiz ng-if="asks"></quiz>
			<div class="center">
				<result ng-if="results"></result>
			</div>
	</div>

	<script type="text/javascript" src="bower_components/jquery/dist/jquery.min.js"></script>
	<script type="text/javascript" src="bower_components/angular/angular.min.js"></script>
	<script type="text/javascript" src="bower_components/materialize/dist/js/materialize.min.js"></script>
	<script type="text/javascript" src="assets/js/loader.js"></script>

	<script type="text/javascript" src="src/app/app.js"></script>
	<script type="text/javascript" src="src/app/welcome/welcome.js"></script>
	<script type="text/javascript" src="src/app/quiz/quiz.js"></script>
	<script type="text/javascript" src="src/app/result/result.js"></script>
	<script type="text/javascript" src="src/app/graphics/graficos.js"></script>
</body>

</html>
