<div class="back-q"><div class="backor"></div></div>

<div class="init-cont container center">

	<div class="row">
		<div class="col s12 m7 offset-m3">
			<div class="card quiz-back darken-1">
				<div class="card-content white-text">
					<div class="row" ng-repeat="pregunta in preguntas | startFrom:actualp | limitTo:1">
						<div class="row">
							<div class="col s12 text-size">
								<p>{{ pregunta.nombre }}</p>
							</div>
						</div>

						<div class="row">
							<div class="col s12 text-size">
								<p class="left">
									<input class="with-gap" name="group1" type="radio" id="test1" ng-click="values(0, pregunta)"/>
									<label for="test1"><span class="text-color-opc">A:</span> {{ pregunta.opcs.a }}</label>
								</p>
							</div>
							<div class="col s12 text-size">
								<p class="left">
									<input class="with-gap" name="group1" type="radio" id="test2" ng-click="values(1, pregunta)"/>
									<label for="test2"><span class="text-color-opc">B:</span> {{ pregunta.opcs.b }}</label>
								</p>
							</div>
							<div class="col s12 text-size">
								<p class="left">
									<input class="with-gap" name="group1" type="radio" id="test3"  ng-click="values(2, pregunta)"/>
									<label for="test3"><span class="text-color-opc">C:</span> {{ pregunta.opcs.c }}</label>
								</p>
							</div>
							<div class="col s12 text-size" ng-if='pregunta.opcs.d'>
								<p class="left">
									<input class="with-gap" name="group1" type="radio" id="test4" ng-click="values(3, pregunta)"/>
									<label for="test4"><span class="text-color-opc">D:</span> {{ pregunta.opcs.d }}</label>
								</p>
							</div>
							<div class="col s12 text-size" ng-if='pregunta.opcs.e'>
								<p class="left">
									<input class="with-gap" name="group1" type="radio" id="test5" ng-click="values(4, pregunta)"/>
									<label for="test5"><span class="text-color-opc">E:</span> {{ pregunta.opcs.e }}</label>
								</p>
							</div>
						</div>
					</div>
				</div>
				
				<div class="card-action">
					<a class="btn-color waves-effect waves-light btn" ng-disabled="actualp == 0" ng-click="back()"><i class="material-icons c-icon">navigate_before</i></a>

					<span class="white-text pages">
						{{ actualp + 1 }} / {{ preguntas.length }}
					</span>

					<a class="btn-color waves-effect waves-light btn" ng-if="!eval" ng-disabled="stop" ng-click="next()"><i class="material-icons c-icon">navigate_next</i></a>
					<a class="btn-color waves-effect waves-light btn" ng-if="eval" ng-click="evaluar()"><i class="material-icons c-icon">perm_identityt</i>Evaluar</a>
				</div>
			</div>
		</div>
	</div>

</div>