<span class="card-title"><strong>Gráfica General</strong></span>
<div id="graphgeneral" style="width: 100%; height: 300px; position: relative;"></div>
<span class="lime-text card-title kin" ng-click="graphics(3)"><strong><i class="material-icons text-size">navigate_before</i>Atras</strong></span>