<span class="card-title"><strong>Gráfica de Personalidades</strong></span>
<div id="linechart_material" style="width: 100%; height: 300px;  position: relative;"></div>
<span class="lime-text card-title kin" ng-click="graphics(3)"><strong><i class="material-icons text-size">navigate_before</i>Atras</strong></span>