html, body {
	margin: 0;
	background-color: #000;
}
.back {
	background: url(../img/welcome/marvelall.jpg) no-repeat fixed center;
}
.back-q {
	background: url(../img/welcome/marvel3.jpg) no-repeat fixed center;
}
.back, .back-q {
	background-size: 100% 100%;
	position: fixed;
	top: 0px !important;
	height: 100%;
	width: 100%;
	z-index: -1;
	
}
.backor {
	background-color: rgba(0,0,0,.3);
	height: 100%;
	width: 100%;
}
.border1, .btn-color {
	border: 1px solid #FFF;
}
.btn-init, .btn-color, .quiz-back, .btn-menu {
	background-color: rgba(0,0,0,.6);
}
.btn-init {
	position: relative;
	top: 40%;
}
.btn-init:hover, .btn-menu:hover {
	background-color: rgba(0,0,0,.8);
}
.btn-color:hover {
	background-color: rgba(90, 90, 90, .8);
}
.init-cont {
	height: 100% !important;
	position: absolute;
	width: 100%;
}
.c-icon, .pages, .text-size{
	font-size: 20px;
}
.pages {
	margin: 0 15px 0 15px;
}
p *{
	color: #F3E5F5;
}
.text-color-opc {
	color: #90CAF9;
}
.kin {
	cursor: pointer;
}
.avatar-icon {
	height: 50px;
	width: 50px;
}
.bor-rad {
	border-radius: 100%;
}
.rest td {
	padding: 0px;
}
.hero {
	height: 350px;
	width: auto !important;
}