<div class="back-q"><div class="backor"></div></div>

<div class="fixed-action-btn toolbar">
	<a class="btn-floating btn-large btn-menu"><i class="large material-icons">trending_up</i></a>
	<ul>
		<li class="waves-effect waves-light"><a ng-click="graphics(1)">Personalidad</a></li>
		<li class="waves-effect waves-light"><a ng-click="graphics(2)">General</a></li>
	</ul>
</div>

<div class="container" style="position: absolute; width: 100%;">

	<div class="row">
		<div class="col s12 m8 offset-m3">
			<div class="card quiz-back darken-1">
				<div class="card-content white-text">

					<div class="row" ng-if="grmain">
						<div class="col s12">
							<h3>{{ esheroe.nombre }}</h3>
						</div>
						<div class="col s12">
							<figure>
								<img class="hero" src="{{ esheroe.img }}" alt="avatar de {{ esheroe.nombre }}">
							</figure>
						</div>
						<div class="col s12">
							<h5>Tienes un {{ esheroe.promedio }}% de personalidad de {{ esheroe.nombre }}</h5>
						</div>
					</div>
					
					<div class="row" ng-if="grmain">
						<div class="col s12 orange-text">
							<h5>Porcentaje de Personalidad con otros heroes</h5>
						</div>
						<div class="col s12">
							<table class="bordered rest">
								<thead>
									<tr>
										<th data-field="avatar"></th>
										<th class="lime-text" data-field="nombre">Nombre</th>
										<th class="lime-text" data-field="promedio">Personalidad (%)</th>
									</tr>
								</thead>

								<tbody>
									<tr ng-repeat="heroe in heroes">
										<td>
											<figure>
												<img class="avatar-icon bor-rad" src="{{ heroe.icon }}" alt="icon de {{ heroe.nombre }}">
											</figure>
										</td>
										<td>{{ heroe.nombre }}</td>
										<td>{{ heroe.promedio }}%</td>
									</tr>
								</tbody>
							</table>
						</div>
					</div>

					<div class="row" ng-if="grmain">
						<div class="col s12">
							<a class="btn-color waves-effect waves-light btn lime-text" ng-click="graphics(4)">Comenzar de Nuevo</a>
						</div>
					</div>
					<div class="row" ng-if="personalidades">
						<grpersonalidades></grpersonalidades>
					</div>

					<div class="row" ng-if="general">
						<grgeneral></grgeneral>
					</div>
				</div>
			</div>
		</div>
	</div>

</div>